 {% extends "base.html.twig" %}
{% block title %} {{parent()}} | Connection  {% endblock %}
{% block stylesheets %}
   
{% endblock stylesheets %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnection</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous logger</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">
        Connection
    </button>
        <a href="{{ path('app_register') }}"><button type="button" class="btn-cta-full-subscribe">J'ai pas de compte m'inscrire</button></a>
        <a href="{{ path('Home') }}">Retour a l'accueil</a>

</form>
{% endblock body %}
