{% extends 'base.html.twig' %}

{% block title %}Accueil {{parent()}} {% endblock %}

{% block body %}

    {% for even in evens %}
       {# {{even.date}}  #}
        <h1>Perso Even</h1>
            {% for persoEven in even.eventP %} 
                <div class="personal">
                    <h2>Titre :</h2> 
                    <p>{{ persoEven.title }}</p>

                    <h2> Description :</h2> 
                    {{ persoEven.description }}

                    <h2> Date :</h2>
                    {{ persoEven.date | date('Y') }}
                </div>
                <hr>    
            {% endfor %}

        <h1>Historic Even</h1>
            {% for histoEven in even.evenH %} 
                <div class="historic">
                    <h2>Titre :</h2> 
                    <p>{{ histoEven.title }}</p>

                    <h2> Description :</h2> 
                    {{ histoEven.description }}

                    <h2> Date :</h2>
                    {{ histoEven.date | date('Y') }}
                </div>
                <hr>    
            {% endfor %}

    {% endfor %}

{% endblock %}
