{% extends 'base.html.twig' %}

{% block title %}Accueil {{parent()}} {% endblock %}

{% block body %}
    <div class="bloc-scroll">
            <!-- Event 1: Guerre de Corée -->
            {% for even in evens %}
                {% for persoEven in even.eventP %}            
                    <article class="card-event-nofocus ">
                        <section class="historic-event">
                            <div class="img-histo">
                                <img src="assets/images/1950-historic-event-small.png" alt="guerre-corée">
                            </div>
                            <div class="tag">
                                <div class="title">
                                    <p class="event-title-1">{{ even.evenH.title }}</p>
                                </div>
                            </div>
                        </section>

                        <img src="assets/icones/ligne-dates.svg" class="ligne-dots" alt="ligne">

                        <section class="date">
                            <p>
                                <span class="century">{{ even.date | slice(0,2) }}</span>
                                <span class="decade">{{ even.date | slice(2,4) }}</span>
                            </p>
                        </section>

                        <img src="assets/icones/ligne-dates.svg" class="ligne-dots" alt="ligne">
                        
                        <section class="personal-event">
                            <div class="tag">
                                <div class="title">
                                    <p>{{ persoEven.title }}</p>
                                </div>
                            </div>
                            <div class="personal-picture">
                                <img src="" alt="pas-de-photo">
                                <div>
                                    <p>VIDE</p>
                                </div>
                            </div>
                        </section>
                    </article>
                {% endfor %}
            {% endfor %}
    </div>
{% endblock  body %}
