{{ form_start(form) }}
    {{ form_widget(form.title, {'attr': {'placeholder': 'Je choisis un titre à mon évènement'}}) }}
    {{ form_widget(form.legend, {'attr': {'placeholder': 'Je choisis une légende à mon évènement '}}) }}
    {{ form_widget(form.description, {'attr': {'placeholder': 'Je décris mon évènement'}}) }}
    {{ form_row(form.date) }}
    <button class="btn">{{ button_label|default('Enregistre') }}</button>
{{ form_end(form) }}
