{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Nouvel événement
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}bootstrap.css">
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}style-ajouterOK.css">
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}navbar.css">
{% endblock stylesheets %}

{% block body %}

<!-- Header -->
<article class="modal-header container-fluid">
	<div class="header-left container d-flex align-items-center">
		<h5 class="header-title" id="exampleModalLongTitle">Je crée mon évènement</h5>
	</div>

	<div class="header-right container d-flex justify-content-around">
		<a href="#help-toggle">Aide</a>

		<span class="icone-fermer">
			<a href=" {{path ('Home') }} " data-bs-dismiss="modal"><img src="{{ asset ('assets/icones/') }}icone-fermer-noir.svg" alt="Close"></a>
		</span>
	</div>
</article>

{{ form_start(form) }}

<!-- Liste inputs -->
<div class="container-fluid d-flex flex-row flex-nowrap">


	<section
		class="bloc-inputs d-flex flex-column">
		<!-- dropdown type d'event -->
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
				Je choisis le type d'évènement
				<span class="info-dropdown">(Sélectionnez une seule icône)</span>
			</button>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<div class="icones-dropdown d-flex flex-row flex-wrap">

					<li>
						<button class="dropdown-item" data-bs-toggle="button" type="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}trip.svg" alt="voyage" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" data-bs-toggle="button" type="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}love.svg" alt="rencontre" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}baby-birth.svg" alt="naissance" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}sport-leisure.svg" alt="loisir" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}family.svg" alt="réunion de famille" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}death.svg" alt="deces" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}birthday.svg" alt="anniversaire" class="icone-type-event"></button>
					</li>

					<li>
						<button class="dropdown-item" type="button" data-bs-toggle="button" aria-pressed="true"><img src="{{ asset ('assets/icones/') }}new-house.svg" alt="emmenagement" class="icone-type-event"></button>
					</li>
				</div>
			</ul>
		</div>


		<!-- autres champs saisie -->
		<div class="input-date">
			{# {{ form_row(form.date, {'attr': {'placeholder': 'Date de l\'évènement *', 'class' : 'date-area'}}) }} #}
    {{ form_row(form.date) }}

        </div>
        <div class="input-title">
            {# {{ form_widget(form.title, {'attr': {'placeholder': 'Je choisis un titre à mon évènement *', 'class' : 'title-area'}}) }} #}
                {{ form_widget(form.title, {'attr': {'placeholder': 'Je choisis un titre à mon évènement'}}) }}


        </div>
        <div class="input-txt">
                {# {{ form_widget(form.legend, {'attr': {'placeholder': 'Je choisis une légende à mon évènement', 'class' : 'legend-area'}}) }} #}
                    {{ form_widget(form.legend, {'attr': {'placeholder': 'Je choisis une légende à mon évènement '}}) }}

        </div>
        
   
    </section>
    
<!-- JAUGE -->               
    <section class="bloc-gauge d-flex flex-column align-items-center">
        
        <div class="txt-gauge d-flex flex-column align-items-start">
            <p>Je choisis</p>
            <p class="orange-txt">l'émotion</p>
            <p>associée à l'évènement</p>

        </div>

        <div class="bloc-emotion">
            <div class="d-flex flex-row flex-nowrap align-items-center justify-content-center">
                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-peur" value="peur">
                    <label for="emotion-peur" class="d-flex flex-column flex-nowrap align-items-center">
                        <i class="icon icon-emotion-peur"></i>
                        <p>Peur</p>
                    </label>
                </div>

                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-passion"  value="passion">
                    <label for="emotion-passion" class="d-flex flex-column flex-nowrap align-items-center">
                    <i class="icon icon-emotion-passion"></i>
                    <p>Passion</p>
                </label>
                </div>

                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-amour"  value="amour">
                    <label for="emotion-amour" class="d-flex flex-column flex-nowrap align-items-center">
                    <i class="icon icon-emotion-amour"></i>
                    <p>Amour</p>
                </label>
                </div>

                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-joie"  value="joie">
                    <label for="emotion-joie" class="d-flex flex-column flex-nowrap align-items-center">
                    <i class="icon icon-emotion-joie"></i>
                    <p>Joie</p>
                </label>
                </div>

                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-surprise"  value="surprise">
                    <label for="emotion-surprise" class="d-flex flex-column flex-nowrap align-items-center">
                    <i class="icon icon-emotion-surprise"></i>
                    <p>Surprise</p>
                </label>
                </div>

                <div class="card-emotion"> 
                    <input type="radio" name="emotion" id="emotion-tristesse"  value="tristesse">
                    <label for="emotion-tristesse" class="d-flex flex-column flex-nowrap align-items-center">
                    <i class="icon icon-emotion-tristesse"></i>
                    <p>Tristesse</p>
                </label>
                </div>
            </div>

        </div>
    </section>
</div>


<!-- espace descriptif event -->
<div class="bloc-txt container-fluid">
    <section class="event-text">    
        {# {{ form_widget(form.description, {'attr': {'placeholder': 'Je décris mon évènement', 'class' : 'text-area-event'}}) }} #}
            {{ form_widget(form.description, {'attr': {'placeholder': 'Je décris mon évènement'}}) }}

    </section>
</div>
             
<!-- espace cards media / fluid -->
<div class="bloc-add-media container-fluid d-flex flex-row flex-nowrap justify-content-between">
        <div class="card-media">
        <a href="#">
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text">J'ajoute une photo principale</p>
            </div> 
            <div class="icone-card-media d-flex justify-content-center align-items-center">
                <img src="{{ asset ('assets/icones/') }}icone-photo-ajout-blanc.svg" alt="Ajout photo couverture">
            </div>
        </a>
        </div>

        <div class="card-media">
        <a href="#">
            <div class="card-body d-flex flex-column justify-content-center">
                 <p class="card-text">J'ajoute des photos</p>
            </div>  
            <div class="icone-card-media d-flex justify-content-center">
                <img src="{{ asset ('assets/icones/') }}icone-photo-ajout-blanc.svg" alt="Ajout photos">
            </div>
        </a>
        </div>

        <div class="card-media">
        <a href="#">
            <div class="card-body d-flex flex-column justify-content-center">
                <p class="card-text">J'ajoute un media audio</p>
            </div>  
            <div class="icone-card-media d-flex justify-content-center">
                <img src="{{ asset ('assets/icones/') }}icone-son-blanc.svg" alt="Ajout media audio">
            </div>
        </a>
        </div>

        <div class="card-media">
        <a href="#">
            <div class="card-body d-flex flex-column justify-content-center">
                <p class="card-text">J'ajoute une vidéo</p>
            </div> 
            <div class="icone-card-media d-flex justify-content-center">
                <img src="{{ asset ('assets/icones/') }}icone-video-blanc.svg" alt="Ajout video">
            </div> 
        </a>
        </div>
</div>
        
<!-- espace scroll medias / fluid -->
<div class="bloc-scroll2 d-flex flex-row flex-nowrap">
    <div class="card-img">
        <img src="{{ asset ('assets/images/') }}/1979-perso-cover-300.jpg" alt="foulard">
    </div>

    <div class="card-img">
        <img src="{{ asset ('assets/images/') }}/1979-perso-diapo1-300.jpg" alt="bebe-brigitte">
    </div>

    <div class="card-img">
        <img src="{{ asset ('assets/images/') }}/1979-perso-diapo2-300.jpg" alt="couple-pluie">
    </div>

    <div class="card-img">
        <img src="{{ asset ('assets/images/') }}/1979-perso-diapo3-300.jpg" alt="brigitte-jardin">
    </div>

    <div class="card-img">
        <img src="{{ asset ('assets/images/') }}/1979-perso-diapo4-300.jpg" alt="brigitte-jardin">
    </div>
</div>
      
<!-- insérer le chevron retour en haut -->

<!-- code toggle event public -->
<div class="bloc-toggle container-fluid">
    <article class="public-toggle d-flex flex-row justify-content-start">
        <p>Evènement public pour tous:</p>
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
    </article>
</div>

<!-- boutons CTA apercu et publier -->
<div class="bloc-cta d-flex justify-content-center">
    <article class="btn-post">
        <button type="button" class="btn-hover-full-outline">Aperçu de mon évènement</button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->

            {# <button class="btn-cta-full">{{ button_label|default('Publier mon évènement') }}</button> #}
        {# <button class="btn">{{ button_label|default('Enregistre') }}</button> #}
        <button type="submit">{{ button_label|default('Enregistre') }}</button>

    </article>  
</div>

{{ form_end(form) }} 

<footer>
    <br>
</footer>


    <a href="{{ path('Home') }}">back to list</a>
{% endblock %}

