{% extends 'base.html.twig' %}

{% block title %}New HistoryEven{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}bootstrap.css">
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}style-ajouterOK.css">
	<link rel="stylesheet" href="{{ asset ('assets/css/') }}navbar.css">
{% endblock stylesheets %}

{% block body %}
    <h1>Create new HistoryEven</h1>

    {{ include('history_even/_form.html.twig') }}

    <a href="{{ path('Home') }}">back to list</a>
{% endblock %}
